@charset "UTF-8";

body {
  margin: 0;
  padding: 0;

  background-color: #121214;
  box-sizing: border-box;
  color: #fff;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
button,
input {
  font-family: 'Roboto', sans-serif;
}